@{ ViewBag.Title = "Новости"; }

@section News {
<div class="home-index">
    <span>Новости</span>
    <hr />
    <div class="news-box">
        <div class="news-box-img" id="img1"></div>
        <div class="news-box-link">ИНДИЯ ПРОСИТ ООН УЧРЕДИТЬ МЕЖДУНАРОДНЫЙ ДЕНЬ ГИМАЛАЕВ И МЕЖДУНАРОДНЫЙ ГОД ГИМАЛАЕВ</div>
        <div class="news-box-info">
            Сегодня, в Международный день гор после положительной Конференции ООН по изменению климата (COP22),
            проходившей в середине ноября в Марракеше, индийское правительство приняло решение подготовить предложение
            о создании Международный года Гималаев и Международного дня Гималаев и направить его на рассмотрение
            Генеральной Ассамблеи Организации Объединенных Наций.
        </div>
        <div class="news-box-date">
            <span>Дата публикации: 2016-12-11</span>
            <span>Читать далее >></span>
        </div>
    </div>
    <div class="news-box">
        <div class="news-box-img" id="img2"></div>
        <div class="news-box-link">ЛЕТНЯЯ ЧЕРНОГОРА. ИЛИ 5 ДНЕЙ ПО МЕСТАМ «БОЕВОЙ» СЛАВЫ</div>
        <div class="news-box-info">
            До Нового года нужно успеть закрыть все «должки» по фотоотчетам.
            Сегодня будет летний 5-дневный поход самым высоким хребтом в Украинских Карпатах.
        </div>
        <div class="news-box-date">
            <span>Дата публикации: 2016-12-01</span>
            <span>Читать далее >></span>
        </div>
    </div>
    <div class="news-box">
        <div class="news-box-img" id="img3"></div>
        <div class="news-box-link">НА ЭВЕРЕСТЕ ОТКРОЕТСЯ ВРЕМЕННЫЙ РЕСТОРАН</div>
        <div class="news-box-info">
            Теперь, у туристов появилась возможность объединить эмоциональное наслаждение от созерцания вершины мира
            с гастрономическим наслаждением, и все благодаря временному ресторану,
            который будет открыт в базовом лагере Эвереста.
        </div>
        <div class="news-box-date">
            <span>Дата публикации: 2016-11-22</span>
            <span>Читать далее >></span>
        </div>
    </div>
</div>
}